.footer-copyright{
    color: #fff;
    background-color: #002f34;
    font-size: 12px;
    line-height: 18px
}
.footer1{
    display: flex;
    background: #ebeeef;
    border-top: 1px solid rgba(0,47,52,.2);
    font-size: 14px;
    line-height: 20px;
}
.Footer-links{
    color: rgba(0,47,52,.64) !important;
}
.Footer-links:hover{
    color: rgba(0, 11, 12, 0.842) !important;
    text-decoration: none;
}
