.sellBtn{
    background-color: white;
    outline: none;
    border: solid blue;
    font-weight: bold;
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-box-shadow: 0px 5px 15px -8px #000000; 
    box-shadow: 0px 5px 15px -8px #000000;
}
.login{
    color: #002f34 !important;
    font-weight: bold;
    text-decoration: underline ;
}
.search-btn{
    color: #ffffff !important;
    background-color: #002f34 !important;
}
.space{
    margin-left: 20px;
}
.input-search{
    width: 550px !important;
}
nav{
    text-align: center;
}
.login-btns{
    border: 2px solid !important;
    font-weight: 500 !important;
}
.login-btns:hover{
    border: 5px solid !important;
}
.modal-dialog-size{
    width: 600px !important;
}
.close{
    outline: none !important;
}
.slide1,.slide2,.slide3{
    padding-right:50px;
    padding-left:50px;
}
.modal-header{
    border:none  !important;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: rgb(0, 0, 0);
}
.modal-text-1{
    font-size: small;
}
.modal-text-2{
    color: rgba(0,47,52,.64);
    font-size: 12px;
}